body{
  background: #ffe259;
  background: linear-gradient(to right, #ffa751, #ffe259);
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.img-fluid{
  margin-top: 65px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
