
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">

  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- Botón Responsivo -->
    <button
    class="navbar-toggler"
    type="button"
    data-mdb-toggle="collapse"
    data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active d-flex text-center text-light" aria-current="page" href="#"><span class="small" id="home">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active d-flex text-center text-light" aria-current="page" href="./contacto"><span class="small" id="contacto">Contactos</span></a>
        </li>
            <!-- Logo Página -->
          <a class="logo" ><img src="./../../../assets/icono-bank.png" height="65px" width="180px"></a>
          <li class="nav-item">
            <a class="nav-link active d-flex text-center text-light" aria-current="page" href="./persona"><span class="small" id="persona">Personas</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active d-flex text-center text-light" aria-current="page" href="./empresa"><span class="small" id="empresa">Empresas</span></a>
          </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
